trunk/godb/xsd/obo-xml.dtd

<!-- 

  OBO XML

  This is an XML representation of the Obo-text file format, for
  modeling any GO or OBO ontology

  For an explanation of the meaning of any of the XML elements, see
  the obo file format documentation

-->

<!-- top-level element corresponding to the whole .obo file -->
<!ELEMENT obo (source|synonym_category|header|term|typedef)*>

<!-- *** FILE METADATA *** -->

  <!-- metadata concerning the source input file -->
  <!ELEMENT source (source_type|source_path|source_md5|source_mtime)+>
   <!ELEMENT source_type (#PCDATA)>
   <!ELEMENT source_path (#PCDATA)>
   <!ELEMENT source_md5 (#PCDATA)>
   <!ELEMENT source_mtime (#PCDATA)>
   <!ELEMENT header (format-version|date|saved-by|auto-generated-by|default-namespace|remark|subsetdef+)*>
   <!ELEMENT format-version (#PCDATA)>
   <!ELEMENT date (#PCDATA)>
   <!ELEMENT saved-by (#PCDATA)>
   <!ELEMENT auto-generated-by (#PCDATA)>
   <!ELEMENT default-namespace (#PCDATA)>
   <!ELEMENT remark (#PCDATA)>
   <!ELEMENT subsetdef (id|name|dbxref*)+>

<!-- *** END OF FILE METADATA *** -->

<!-- TERM : this element represents terms/classes in an ontology  -->

<!ELEMENT term (id|name|namespace|def?|is_a*|alt_id*|subset*|comment?|is_anonymous?|is_obsolete?|is_root?|xref_analog*|xref_unknown*|synonym*|relationship*|intersection_of*|union_of*|lexical_category?)+>

<!-- TERM ELEMENTS -->

  <!ELEMENT id (#PCDATA)>
  <!ELEMENT name (#PCDATA)>
  <!ELEMENT namespace (#PCDATA)>
  <!ELEMENT def (defstr|dbxref*)+>
  <!ELEMENT defstr (#PCDATA)>

  <!-- DBXREF ELEMENTS -->
  <!ELEMENT xref_analog (acc|dbname|name)+>
  <!ELEMENT xref_unknown (acc|dbname|name)+>
  <!ELEMENT is_a (#PCDATA)>
  <!ELEMENT relationship (type|to)+>
    <!ELEMENT type (#PCDATA)>
    <!ELEMENT to (#PCDATA)>
  <!ELEMENT alt_id (#PCDATA)>
  <!ELEMENT subset (#PCDATA)>
  <!ELEMENT comment (#PCDATA)>

  <!-- BOOLEANS -->
  <!ELEMENT is_anonymous (#PCDATA)>
  <!ELEMENT is_obsolete (#PCDATA)>
  <!ELEMENT is_root (#PCDATA)>

  <!ELEMENT synonym (synonym_text|dbxref*)+>
  <!ATTLIST synonym
     scope CDATA #IMPLIED
  >
    <!ELEMENT synonym_text (#PCDATA)>

  <!-- this element is experimental and not stable -->
  <!ELEMENT lexical_category (#PCDATA)>

  <!ELEMENT intersection_of (type|to)+>
  <!ELEMENT union_of (#PCDATA)>

<!-- TYPEDEF : this element represents relationship types and
properties in an ontology -->

<!ELEMENT typedef (id|name|namespace|is_a*|def?|domain?|range?|inverse_of?|is_transitive?|is_symmetric?|is_anti_symmetric?|is_reflexive?)+>

  <!ELEMENT inverse_of (#PCDATA)>
  <!ELEMENT domain (#PCDATA)>
  <!ELEMENT range (#PCDATA)>

  <!ELEMENT is_transitive (#PCDATA)>
  <!ELEMENT is_symmetric (#PCDATA)>
  <!ELEMENT is_anti_symmetric (#PCDATA)>
  <!ELEMENT is_reflexive (#PCDATA)>

<!-- DBXREF -->

<!ELEMENT dbxref (acc|dbname|name)+>
  <!ELEMENT acc (#PCDATA)>
  <!ELEMENT dbname (#PCDATA)>

<!-- SYNONYM_CATEGORY :  -->

<!ELEMENT synonym_category (id|name|namespace)+>

