godb/xsd/go_daily-obo-xml-manual.dtd

<!-- 

************************************************************
 - DEPRECATED -

 This has been replaced by:

 obo-xml.rnc - Relax NG (compact syntax)
 obo-xml.rng - Relax NG (xml syntax)
 obo-xml.xsd - XML Schema

************************************************************

  OBO XML

  This is an XML representation of the Obo-text file format, for
  modeling any GO or OBO ontology

  For an explanation of the meaning of any of the XML elements, see
  the obo file format documentation

-->

<!-- top-level element corresponding to the whole .obo file -->
<!ELEMENT obo (source|synonym_category|header|term|typedef)*>

<!-- *** FILE METADATA *** -->

  <!-- metadata concerning the source input file -->
  <!ELEMENT source (source_id|source_type|source_fullpath|source_path|source_md5|source_mtime|source_parsetime)+>
   <!ELEMENT source_id (#PCDATA)>
   <!ELEMENT source_type (#PCDATA)>
   <!ELEMENT source_fullpath (#PCDATA)>
   <!ELEMENT source_path (#PCDATA)>
   <!ELEMENT source_md5 (#PCDATA)>
   <!ELEMENT source_mtime (#PCDATA)>
   <!ELEMENT source_parsetime (#PCDATA)>
   <!ELEMENT header (format-version|data-version|date|saved-by|auto-generated-by|default-namespace|remark|ontology|subsetdef|synonymtypedef|idspace|property_value)*>
   <!ELEMENT format-version (#PCDATA)>
   <!ELEMENT data-version (#PCDATA)>
   <!ELEMENT date (#PCDATA)>
   <!ELEMENT saved-by (#PCDATA)>
   <!ELEMENT auto-generated-by (#PCDATA)>
   <!ELEMENT default-namespace (#PCDATA)>
   <!ELEMENT remark (#PCDATA)>
   <!ELEMENT ontology (#PCDATA)>
   <!ELEMENT subsetdef (id|name|dbxref*)+>
   <!ELEMENT synonymtypedef (id|name|scope)+>
    <!ELEMENT scope (#PCDATA)>
   <!ELEMENT idspace (local|global|comment*)+>
   <!ELEMENT property_value (#PCDATA)>

    <!ELEMENT local (#PCDATA)>
    <!ELEMENT global (#PCDATA)>

<!-- *** END OF FILE METADATA *** -->

<!-- TERM : this element represents terms/classes in an ontology  -->

<!ELEMENT term (id|name|namespace|def?|is_a*|alt_id*|subset*|comment?|is_anonymous?|is_obsolete?|consider*|replaced_by*|is_root?|xref_analog*|xref_unknown*|synonym*|relationship*|intersection_of*|union_of*|disjoint_from*|lexical_category?|created_by?|creation_date?)+>

<!-- TERM ELEMENTS -->

  <!ELEMENT id (#PCDATA)>
  <!ELEMENT name (#PCDATA)>
  <!ELEMENT namespace (#PCDATA)>
  <!ELEMENT def (defstr|dbxref*)+>
  <!ELEMENT defstr (#PCDATA)>
  <!ELEMENT created_by (#PCDATA)>
  <!ELEMENT creation_date (#PCDATA)>

  <!-- DBXREF ELEMENTS -->
  <!ELEMENT xref_analog (acc|dbname|name)+>
  <!ELEMENT xref_unknown (acc|dbname|name)+>
  <!ELEMENT is_a (#PCDATA)>
  <!ELEMENT relationship (type|to)+>
    <!ELEMENT type (#PCDATA)>
    <!ELEMENT to (#PCDATA)>
  <!ELEMENT alt_id (#PCDATA)>
  <!ELEMENT subset (#PCDATA)>
  <!ELEMENT comment (#PCDATA)>
  <!ELEMENT consider (#PCDATA)>
  <!ELEMENT replaced_by (#PCDATA)>
  <!ELEMENT disjoint_from (#PCDATA)>

  <!-- BOOLEANS -->
  <!ELEMENT is_anonymous (#PCDATA)>
  <!ELEMENT is_obsolete (#PCDATA)>
  <!ELEMENT is_root (#PCDATA)>

  <!ELEMENT synonym (synonym_text|dbxref*)+>
  <!ATTLIST synonym
     scope CDATA #IMPLIED
  >
    <!ELEMENT synonym_text (#PCDATA)>

  <!-- this element is experimental and not stable -->
  <!ELEMENT lexical_category (#PCDATA)>

  <!ELEMENT intersection_of (type|to)+>
  <!ELEMENT union_of (#PCDATA)>

<!-- TYPEDEF : this element represents relationship types and
properties in an ontology -->

<!ELEMENT typedef (id|name|namespace|is_a*|def?|domain?|range?|inverse_of?|is_transitive?|is_symmetric?|is_anti_symmetric?|is_reflexive?|transitive_over?|xref_analog?|expand_assertion_to?|is_metadata_tag?|is_class_level?)+>

  <!ELEMENT inverse_of (#PCDATA)>
  <!ELEMENT domain (#PCDATA)>
  <!ELEMENT range (#PCDATA)>

  <!ELEMENT is_transitive (#PCDATA)>
  <!ELEMENT is_symmetric (#PCDATA)>
  <!ELEMENT is_anti_symmetric (#PCDATA)>
  <!ELEMENT is_reflexive (#PCDATA)>
  <!ELEMENT transitive_over (#PCDATA)>
  <!ELEMENT expand_assertion_to (#PCDATA)>
  <!ELEMENT is_metadata_tag (#PCDATA)>
  <!ELEMENT is_class_level (#PCDATA)>

<!-- DBXREF -->

<!ELEMENT dbxref (acc|dbname|name)+>
  <!ELEMENT acc (#PCDATA)>
  <!ELEMENT dbname (#PCDATA)>

<!-- SYNONYM_CATEGORY :  -->

<!ELEMENT synonym_category (id|name|namespace)+>

<!-- HOLDS_OVER_CHAIN -->
<!ELEMENT holds_over_chain (relation)>
  <!ELEMENT relation (#PCDATA)+>
